.Input {
	box-sizing: border-box;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 0.25rem;
	padding: 1rem;
	margin: 0.5rem 0;
}

.Input form {
	display: flex;
	flex-direction: column;
}
/* medium >= 768px */
@media (min-width: 48rem) {
  .Input form {
		flex-direction: row;
		align-items: flex-end;
	}
}

.Input-field {
	display: block;
	width: 100%;
}
.Input-field + .Input-field {
	margin-top: 0.5rem;
}
/* medium >= 768px */
@media (min-width: 48rem) {
  .Input-field + .Input-field {
		margin-left: 0.5rem;
		margin-top: 0;
	}
}

.Input-text {
	display: block;
	width: 100%;
}

.Input-button {
	margin: 0.5rem 0;
	margin-left: auto;
}
/* medium >= 768px */
@media (min-width: 48rem) {
  .Input-button {
		margin: 0;
		margin-left: 1rem;
	}
}