.Table {
	box-sizing: border-box;
	width: 100%;
	background-color: rgba(255, 255, 255, 1);
	border-radius: 0.25rem;
	padding: 1rem;
	margin: 0.5rem 0;
}
.Table table {
	width: 100%;
	border-collapse: collapse;
	table-layout:fixed
}
/* .Table tr {
	display: flex;
	flex-wrap: nowrap;
} */
.Table th,
.Table td {
	box-sizing: border-box;
	height: 2.5rem;
	padding: 0.5rem 1rem;
}

.Table-header {
	background-color: rgba(47, 169, 157, 0.2);
	text-align: left;
	line-height: 1.5rem;
	font-size: 0.75rem;
}
.Table-header.first {
	border-radius: 0.25rem 0 0 0.25rem;
}
.Table-header.last {
	border-radius: 0 0.25rem 0.25rem 0;
}
.Table-header .button {
	margin-left: auto;
	text-align: center;
	float:right;
}
.Table-header .button.active {
	background-color: rgba(22, 144, 132, 0.25);
	color: rgba(22, 144, 132, 1);
}
.Table-header .button.active:hover {
	background-color: rgba(22, 144, 132, 0.35);
}

.Table-body td {
	line-height: 1.5rem;
	border-top: 1px solid rgba(55, 71, 79, 0.1);
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.Table-body tr:first-child td {
	border: none;
}

.Table-user-icon {
	display: inline-block;
	text-align: center;
	margin-right: 0.5rem;
	font-size: 0.75rem;
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 50%;
	color: rgba(47, 169, 157, 0.8);
	background-color: rgba(47, 169, 157, 0.2);
}
