.App {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.App header,
.App main {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 95%;
}
/* small >= 576px */
@media (min-width: 36rem) {
  .App main {
    width: 90%;
  }
}
/* medium >= 768px */
@media (min-width: 48rem) {
  .App main {
    width: 80%;
		max-width: 50rem;
  }
}

.App-title {
	width: 100%;
	text-align: center;
	font-size: 2.75rem;
	font-weight: 400;
}
