body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	background-color: rgba(47, 169, 157, 1);
	color: rgba(55, 71, 79, 1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.input.text {
	box-sizing: border-box;
	width: 100%;
	height: 2.375rem;
	border: 1px solid rgba(55, 71, 79, 0.5);
	border-radius: 0.25rem;
	padding: 0 0.75rem;
}
.input.label {
	font-weight: 600;
	width: 100%;
	font-size: 0.875rem;
	color:rgba(55, 71, 79, 0.8)
}

.button {
	box-sizing: border-box;
	height: 2.5rem;
	border: none;
	border-radius: 0.25rem;
	font-weight: 600;
	padding: 0 0.75rem;
	cursor: pointer;
	transition: background 250ms ease;
}
.button.primary {
	background-color: rgba(47, 169, 157, 0.9);
	color: rgba(255, 255, 255, 1);
}
.button.primary:hover {
	background-color: rgba(47, 169, 157, 1);
}
.button.small {
	height: 1.5rem;
	padding: 0 0.5rem;
	font-size: 0.75rem;
	line-height: 1.5rem;
	background-color: rgba(55, 71, 79, 0.25);
	color: rgba(55, 71, 79, 0.7);
}
.button.small:hover {
	background-color: rgba(55, 71, 79, 0.35);
}

.col-2 {
	width: 16.66%;
}
.col-5 {
	width: 41.66%;
}
